/* General styles */ 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
}

.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    width: 90%;
    max-width: 375px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}

/* Profile picture */

.card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10rem;
    width: 100%;
    background: url(./images/bg-pattern-card.svg);
    background-size: cover;
}

.profile-picture img{
    margin-top: -3rem;
    border: 5px solid #fff;
    border-radius: 50%;
}

/* Titles */

.card-main h1 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: 0;
}

#age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.3rem;
}

#city {
    color: hsl(0, 0%, 59%);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* Social media stats */

.card-footer {
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
}

.card-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.card-footer li {
    margin-right: 3rem;
    padding-bottom: 1rem;
}

.card-footer h2{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 0;
}

.card-footer p{
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-top: 0.5rem;
}